.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  text-align: center;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-text {
  color: #fff;
  font-size: 28px;
}
